.time {
   font-size: 3.25rem;
   font-weight: 500;
   line-height: 1.3;
   color: var(--accent-text);
}

.date {
   font-weight: 700;
   color: var(--dark-text);
   margin-bottom: 0.5rem;
}

.greeting {
   display: flex;
   align-items: center;
   color: var(--accent-text);
}

.greeting-text {
   font-size: 1.8rem;
   font-weight: 500;
   margin-left: 0.35rem;
}